<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon1.png" type="image/x-icon">
    <title>提高</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/Basics.css">
    <link rel="stylesheet" href="../styles/increase.css">
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <a class="navbar-brand" href="index.html"><img src="../images/log.png" class="logimg"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="./index.html">首页<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="../views/increase.html">课程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/teacher.html">名师</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle nav-link" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-expanded="false">
                                关于学校
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="../views/introduction.html">学校简介</a>
                                <a class="dropdown-item" href="../views/scenery.html">学校风光</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="form-inline  mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="关键字" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="container1">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (1).jpeg" class="img-fluid">
                        </div>
                        <div class="content rounded">
                            <h3>React</h3>
                            <p class="text-justify">是一个用于构建用户界面的 JAVASCRIPT 库
                                ,主要用于构建UI，很多人认为 React 是 MVC 中的 V（视图）
                                ,起源于 Facebook 的内部项目，用来架设 Instagram 的网站，并于 2013 年 5 月开源
                                ,拥有较高的性能，代码逻辑非常简单，越来越多的人已开始关注和使用它。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/ja.jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Java</h3>
                            <p class="text-justify">
                                Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C++里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (3).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Element</h3>
                            <p class="text-justify">Element，一套为开发者、设计师和产品经理准备的基于 Vue 2.0
                                的组件库，提供了配套设计资源，帮助你的网站快速成型。由饿了么公司前端团队开源。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (4).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Vue</h3>
                            <p class="text-justify">是一套用于构建用户界面的渐进式框架。与其它大型框架不同的是，Vue 被设计为可以自底向上逐层应用。Vue
                                的核心库只关注视图层，不仅易于上手，还便于与第三方库或既有项目整合</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (5).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>c++</h3>
                            <p class="text-justify">
                                C++是C语言的继承，它既可以进行C语言的过程化程序设计，又可以进行以抽象数据类型为特点的基于对象的程序设计，还可以进行以继承和多态为特点的面向对象的程序设计</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (6).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Python</h3>
                            <p class="text-justify">Python由荷兰数学和计算机科学研究学会的Guido van Rossum 于1990
                                年代初设计，作为一门叫做ABC语言的替代品。Python提供了高效的高级数据结构，还能简单有效地面向对象编程。Python语法和动态类型，以及解释型语言的本质，使它成为多数平台上写脚本和快速开发应用的编程语言
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (7).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Linux</h3>
                            <p class="text-justify">
                                Linux，全称GNU/Linux，是一种免费使用和自由传播的类UNIX操作系统，其内核由林纳斯·本纳第克特·托瓦兹于1991年10月5日首次发布，它主要受到Minix和Unix思想的启发，是一个基于POSIX的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的Unix工具软件、应用程序和网络协议。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (8).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Boostrap</h3>
                            <p class="text-justify">Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob
                                Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web
                                开发更加快捷。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (9).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Jquery</h3>
                            <p class="text-justify">
                                Juery是一个快速、简洁的JavaScript框架，是继Prototype之后又一个优秀的JavaScript代码库（框架）于2006年1月由John
                                Resig发布。jQuery设计的宗旨是“write Less，Do More”，即倡导写更少的代码，做更多的事情。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (12).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Node</h3>
                            <p class="text-justify">Node.js发布于2009年5月，由Ryan Dahl开发，是一个基于Chrome
                                V8引擎的JavaScript运行环境，使用了一个事件驱动、非阻塞式I/O模型， 让JavaScript
                                运行在服务端的开发平台，它让JavaScript成为与PHP、Python、Perl、Ruby等服务端语言平起平坐的脚本语言。 </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (11).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Mock</h3>
                            <p class="text-justify">通过随机数据,模拟各种场景。 开发无侵入 不需要修改既有代码,就可以拦截 Ajax 请求,返回模拟的响应数据。 用法简单 符合直觉的接口
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  rounded  mt-sm-4 col-6 mt-3 ">
                    <div class="box rounded">
                        <div class="imgBx">
                            <img src="../images/t1 (10).jpeg">
                        </div>
                        <div class="content rounded">
                            <h3>Js</h3>
                            <p class="text-justify">JavaScript（简称“JS”）
                                是一种具有函数优先的轻量级，解释型或即时编译型的编程语言。虽然它是作为开发Web页面的脚本语言而出名，但是它也被用到了很多非浏览器环境中，JavaScript
                                基于原型编程、多范式的动态脚本语言，并且支持面向对象、命令式、声明式、函数式编程范式。 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center" id="brncolor"><button type="button" class="btn  btn-success  " id="btn">更多</button>
        </div>
    </div>

    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3 d-none d-md-block">
                    <a href="#">
                        <h6 class="color txt7">由高教社联手网易推出，让每一个有提升愿望的用户能够学到中国知名高校的课程，并获得认证</h6>
                    </a>
                </div>
                <div class="col-lg-2  py-3 d-none d-md-block">
                    <a href="#">
                        <p class="color ">关于我们</p>
                    </a>
                </div>
                <div class="col-lg-2 py-3 d-none d-md-block">
                    <a href="#">
                        <p class="color">联系我们</p>
                    </a>
                </div>
                <div class="col-lg-2 py-3 d-none d-md-block">
                    <a href="#">
                        <p class="color">友情链接</p>
                    </a>
                </div>
                <div class=" col-12 mt-4">
                    <a href="#">
                        <p class="color text-center txt7">网上有害信息举报：网站 https://www.12377.cn 电话 010-58581010 邮箱
                            youdao_jubao@rd.netease.com</p>
                    </a>
                </div>
                <div class="col-12">
                    <a href="#">
                        <p class="color text-center txt7">粤B2-20090191-26 | 京ICP备12020869号-2 | 京公网安备44010602000207</p>
                    </a>
                </div>

                <div class=" col-12">
                    <a href="#">
                        <p class="color text-center txt7">©2014-2021 icourse163.org</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/increase.js"></script>
</body>

</html>