<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icon1.png" type="image/x-icon">
    <title>学校简介</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/Basics.css">
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" href="index.html"><img src="../images/log.png" class="logimg"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="./index.html">首页<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/increase.html">课程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/teacher.html">名师</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn  dropdown-toggle nav-link active" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
           关于学校
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="../views/introduction.html">学校简介</a>
            <a class="dropdown-item" href="../views/scenery.html">学校风光</a>
           
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline  mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="关键字" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>
  <div class="container mt-4">
    <div class="row ">
        <div class="col-md-12 text-center">
            <h5 class="txt9">学校简介</h5>
        </div>
    </div>
</div>
<div class="container mt-4">
  <div class="row ">
      <div class="col-12 text-center">
        <p class="font text-justify txt8">
          哈尔滨信息工程学院，国家示范性软件学院。现拥有哈东、江北两个校区，总占地面积1045亩，校舍建筑面积25.6万平方米，在校动态学生数8000余人。</p>
          <p class="font text-justify txt8"> <b>实在办学，稳步前进。</b>学校以计算机、信息类工科专业为基石，致力于探索应用学科与基础学科交叉融合之路，设置新兴交叉学科，拓展与计算机复合的电商类、管理类、艺术设计类专业协调发展。现开设了软件工程、计算机科学与技术、数据科学与大数据技术、智能科学与技术、电子信息工程、自动化、电子商务、物流管理、环境设计、视觉设计传达设计等热门专业。</p>
          <p class="font text-justify txt8"> <b>忠于守旧，乐于迎新。</b>学校坚持以应用型人才培养为中心，将品格、知识、能力“三位一体”的教育理念，贯穿人才培养全过程。以培养“卓越IT工程师”为育人目标，恪守师德师风第一标准，形成了“规范严谨，精益求精”的校训和“积极、踏实、开放、学习”的校风。2003年，学校与哈尔滨工业大学成为黑龙江省仅有的两所进入国家首批35所示范性软件学院的院校，是国家劳动部、信息产业部联合批准的电子信息产业高技能人才培训基地，在教育部高等教育人才培养工作水平评估后结论为“优秀”，被教育部授予全国普通高校毕业生就业工作先进集体。</p>
          <p class="font text-justify txt8"> <b>植根实践，人人成才。</b>植根实践，人人成才。学校各专业学科借力校企合作成果，与苹果、谷歌、华为、阿里巴巴、百度等国际优秀企业同建共育，建设了云计算应用研究室、无障碍空间设计研究室、大数据挖掘研究室等前沿实验室、科研室116间，结合数字化校园网络环境和“笔记本大学”的学习条件，建立了硬件+软件、线下+线上、笔记本+实验室的3×2实践教学体系。同时，通过“专业课前置”、核心课程“三进阶”、课题设计“大作业”等集中实践训练环节，改良和催化了教与学方式的转变，使学生“批量成才、人人成才”。</p>
      </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row ">
      <div class="col-md-12 text-center">
          <h5 class="txt9">办学定位</h5>
      </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row ">
      <div class="col-12 text-center">
        <p class="font text-justify txt8">
          1．类别定位：工科院校。</p>
          <p class="font text-justify txt8"> 2．学科专业定位：以计算机类、信息类专业为主，艺术学、管理学为辅，实现工、文学科协调发展。</p>
          
      </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row ">
      <div class="col-md-12 text-center">
          <h5 class="txt9">学校文化</h5>
      </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row ">
      <div class="col-12 text-center">
        <p class="font text-justify txt8">
          1．校训：规范严谨，精益求精。</p>
          <p class="font text-justify txt8"> 2．校风：积极、踏实、学习、开放</p>
          <p class="font text-justify txt8"> 3．校徽：</p>
         <div class="col-12 d-flex justify-content-center"><img src="../images/logo.jpg" alt="" class="img-fluid"></div>
      </div>
  </div>
</div>

  <footer class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 d-none d-md-block">
          <a href="#">
            <h6 class="color txt7">由高教社联手网易推出，让每一个有提升愿望的用户能够学到中国知名高校的课程，并获得认证</h6>
          </a>
        </div>
        <div class="col-lg-2  py-3 d-none d-md-block">
          <a href="#">
            <p class="color ">关于我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">联系我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">友情链接</p>
          </a>
        </div>
        <div class=" col-12 mt-4">
          <a href="#">
            <p class="color text-center txt7">网上有害信息举报：网站 https://www.12377.cn 电话 010-58581010 邮箱 youdao_jubao@rd.netease.com</p>
          </a>
        </div>
          <div class="col-12">
          <a href="#">
            <p class="color text-center txt7">粤B2-20090191-26 | 京ICP备12020869号-2 | 京公网安备44010602000207</p>
          </a>
        </div>
        
          <div class=" col-12">
          <a href="#">
            <p class="color text-center txt7">©2014-2021 icourse163.org</p>
          </a>
        </div>
      </div>
    </div>
  </footer>

<body>

</body>

</html>