<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/icon1.png" type="image/x-icon">
  <title>学校风景</title>
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <link rel="stylesheet" href="../styles/Basics.css">
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../styles/scenery.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="index.html"><img src="../images/log.png" class="logimg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="./index.html">首页<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/increase.html">课程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/teacher.html">名师</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn  dropdown-toggle nav-link active" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
             关于学校
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="../views/introduction.html">学校简介</a>
              <a class="dropdown-item" href="../views/scenery.html">学校风光</a>
             
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline  mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="关键字" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
    </div>
  </nav>

  <div class="slider d-none  d-md-block">
    <input name="control" id="page1" type="radio" checked />
    <input name="control" id="page2" type="radio" />
    <input name="control" id="page3" type="radio" />
    <input name="control" id="page4" type="radio" />

    <div class="slider--el slider--el-1 anim-4parts">

      <div class="slider--el-bg">
        <div class="part top left"></div>
        <div class="part top right"></div>
        <div class="part bot left"></div>
        <div class="part bot right"></div>
      </div>
      <div class="slider--el-content">

      </div>
    </div>

    <div class="slider--el slider--el-2 anim-9parts">

      <div class="slider--el-bg">
        <div class="part left-top"></div>
        <div class="part mid-top"></div>
        <div class="part right-top"></div>
        <div class="part left-mid"></div>
        <div class="part mid-mid"></div>
        <div class="part right-mid"></div>
        <div class="part left-bot"></div>
        <div class="part mid-bot"></div>
        <div class="part right-bot"></div>
      </div>
      <div class="slider--el-content">

      </div>
    </div>

    <div class="slider--el slider--el-3 anim-5parts">

      <div class="slider--el-bg">
        <div class="part part-1"></div>
        <div class="part part-2"></div>
        <div class="part part-3"></div>
        <div class="part part-4"></div>
        <div class="part part-5"></div>
      </div>
      <div class="slider--el-content">

      </div>
    </div>

    <div class="slider--el slider--el-4 anim-3parts">

      <div class="slider--el-bg">
        <div class="part left"></div>
        <div class="part mid"></div>
        <div class="part right"></div>
      </div>
      <div class="slider--el-content">

      </div>
    </div>
    <div class="slider--control left">
      <label class="page1-left" for="page1"></label>
      <label class="page2-left" for="page2"></label>
      <label class="page3-left" for="page3"></label>
      <label class="page4-left" for="page4"></label>
    </div>
    <div class="slider--control right">
      <label class="page1-right" for="page1"></label>
      <label class="page2-right" for="page2"></label>
      <label class="page3-right" for="page3"></label>
      <label class="page4-right" for="page4"></label>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row d-flex justify-content-between" >
      <div class="col-md-3 col-6  mt-3   ">
        <img src="../images/fj (1).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (2).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (3).jpg" class="box img-fluid  rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (4).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (5).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (6).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (7).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (8).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (9).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (10).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (11).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (12).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (13).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (14).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (15).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (16).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (17).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (18).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (19).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (20).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (21).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (22).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 col-6 mt-3   ">
        <img src="../images/fj (23).jpg" class="box img-fluid rounded" alt="">
      </div>
      <div class="col-md-3 mt-3 col-6   ">
        <img src="../images/fj (24).jpg" class="box img-fluid rounded" alt="">
      </div>
      

    </div>
  </div>


  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6 py-3 d-none d-md-block">
          <a href="#">
            <h6 class="color txt7">由高教社联手网易推出，让每一个有提升愿望的用户能够学到中国知名高校的课程，并获得认证</h6>
          </a>
        </div>
        <div class="col-lg-2  py-3 d-none d-md-block">
          <a href="#">
            <p class="color ">关于我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">联系我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">友情链接</p>
          </a>
        </div>
        <div class=" col-12 mt-4">
          <a href="#">
            <p class="color text-center txt7">网上有害信息举报：网站 https://www.12377.cn 电话 010-58581010 邮箱
              youdao_jubao@rd.netease.com</p>
          </a>
        </div>
        <div class="col-12">
          <a href="#">
            <p class="color text-center txt7">粤B2-20090191-26 | 京ICP备12020869号-2 | 京公网安备44010602000207</p>
          </a>
        </div>

        <div class=" col-12">
          <a href="#">
            <p class="color text-center txt7">©2014-2021 icourse163.org</p>
          </a>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="../js/scenery.js"></script>
</body>


</html>