<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/icon1.png" type="image/x-icon">
  <title>名师</title>
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <link rel="stylesheet" href="../styles/Basics.css">
  <link rel="stylesheet" href="../styles/teacher.css">
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <a class="navbar-brand" href="index.html"><img src="../images/log.png" class="logimg" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="./index.html">首页<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/increase.html">课程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/teacher.html">名师</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn  dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-expanded="false">
                关于学校
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="../views/introduction.html">学校简介</a>
                <a class="dropdown-item" href="../views/scenery.html">学校风光</a>

              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline  mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="关键字" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
      </div>
    </nav>
  </header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container" id="mian">
        <div class="row">
          <div class="col-md-4 col-6 ">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t1.png" alt="">
              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">张晓文</h5>
                <p class="card-text txt6 font ">
                  武汉理工大学职业发展与心理学教师最受慕课学员欢迎的网红心理学老师国家精品在线开放课程《爱情心理学《婚恋-职场-人格》的课程负责人,累计选课65万人次。
                </p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t2.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">周建芳</h5>
                <p class="card-text txt6 font">管理学硕士、经济学博士，四川师范大学副研究馆员，博士后英国心理学会注册心理学家CPsychol奥洲科廷大学心理学及语言障碍学院，客座高级研究员
                </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t3.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">卢子慧</h5>
                <p class="card-text txt6 font">多伦多大学心理博士国际教练协会（ICF）认证
                  中国大学MOOC名师专栏


                  《21天情绪自救指南》主讲教师


                </p>

              </div>
            </div>
          </div>

          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t4.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">张晓</h5>
                <p class="card-text txt6 font">中国摄影网签约摄影师佳能EOS俱乐部特约讲师中国摄影家协会会员</p>
                <div class="d-flex justify-content-between align-items-center">


                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t5.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">廖家琪</h5>
                <p class="card-text txt6 font">浙江大学公共管理学院副教授国家精品课程《博弈论基础》负责人在浙大任教近30年,累计“线上＋线下学员超过40万人</p>
                <div class="d-flex justify-content-between align-items-center">


                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t6.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">李晓菲</h5>
                <p class="card-text txt6 font">
                  英国拉夫堡大学心理学博士，博士后英国心理学会注册心理学家Cpsychol奥洲科廷大学心理学及语言障碍学院,客座高级研究员
                  英国拉夫堡大学心理学博士


                </p>
                <div class="d-flex justify-content-between align-items-center">


                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t7.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">黎玥琳</h5>
                <p class="card-text txt6 font">
                  国家精品课程《心理学:我知无不言，它妙不可言》课程负责人

                  MOOC《新手教师训练营》课程负责人
                </p>
                <div class="d-flex justify-content-between align-items-center">


                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t8.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">张玥</h5>
                <p class="card-text txt6 font">
                  本义心理工作室创始人;面向未来、明光教育联合创始人

                  人社部青少年生涯规划导师项目（ACD)首席专家南开大学、中国海洋大学、青岛大学等多所高校生涯

                </p>

              </div>
            </div>
          </div>
          <div class="col-md-4 col-6 d-none d-md-block ">
            <div class="card mb-4 shadow-sm heigth4">
              <img src="../images/t9.png" alt="">

              <div class="card-body d-none d-sm-block ">
                <h5 class="text-center">卢子慧</h5>
                <p class="card-text txt6 font">多伦多大学心理博士国际教练协会（ICF）认证
                  中国大学MOOC名师专栏
                  《21天情绪自救指南》主讲教师
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="container">
    <div class="row justify-content-center" id="brncolor"><button type="button" class="btn  btn-success  " id="btn">更多</button>
    </div>
  </div>
  <footer class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 d-none d-md-block">
          <a href="#">
            <h6 class="color txt7">由高教社联手网易推出，让每一个有提升愿望的用户能够学到中国知名高校的课程，并获得认证</h6>
          </a>
        </div>
        <div class="col-lg-2  py-3 d-none d-md-block">
          <a href="#">
            <p class="color ">关于我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">联系我们</p>
          </a>
        </div>
        <div class="col-lg-2 py-3 d-none d-md-block">
          <a href="#">
            <p class="color">友情链接</p>
          </a>
        </div>
        <div class=" col-12 mt-4">
          <a href="#">
            <p class="color text-center txt7">网上有害信息举报：网站 https://www.12377.cn 电话 010-58581010 邮箱
              youdao_jubao@rd.netease.com</p>
          </a>
        </div>
        <div class="col-12">
          <a href="#">
            <p class="color text-center txt7">粤B2-20090191-26 | 京ICP备12020869号-2 | 京公网安备44010602000207</p>
          </a>
        </div>

        <div class=" col-12">
          <a href="#">
            <p class="color text-center txt7">©2014-2021 icourse163.org</p>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script src="../js/teacher.js"></script>
</body>

</html>